body {
  margin-left: 40px;
  margin-right: 40px;
}
.flight-log-section {
  margin-top: 35px;
  margin-bottom: 35px;
}
.react-datepicker-wrapper, .react-datepicker__input-container {
  width: 100%;
}
